* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth; 
  }
body {
    font-family: 'Roboto', sans-serif;
}
.container {
    max-width: 1440px;
    margin: 0 auto;
}
#photo {
    border-radius: 10%;
}
.header {
    display: flex;
    height: 102px;
    border-radius: 16px 16px 16px 16px;
    background: rgb(242, 244, 245);
    border: solid 1px black;
}
.main {
    display: flex;
    justify-content: flex-start;
}
.aside {
    border: solid 1px black;
    margin-top: 25px;
    background: rgb(242, 244, 245);
    border-radius: 16px 16px 16px 16px;
    width: 500px;
}
.article {
    border: solid 1px black;
    margin-left: 25px;
    margin-top: 25px;
    border-radius: 16px 16px 16px 16px;
    background: rgb(242, 244, 245);
    width: 100%;
}
.profile {
    display: flex;
}
.my-name {
    margin: 50px 0 0 20px;
}
#spec {
    line-height: 40px;
    font-weight: normal;
}
.nav {
    margin: 20px 0 0 20px;
    width: 100%;
}
.nav-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
}
.nav-link {
    color: black;
    text-decoration: none;
    font-size: 24px;
}
.nav-link:hover {
    color: red;
    transition: color 0.5s;
}
#contacts {
    background: rgb(242, 244, 245);
    border-radius: 16px 16px 16px 16px;
    margin-top: 25px;
    margin-bottom: 25px;
}
#contacts h2 {
    padding-top: 10px;
    padding-left: 25px;
    text-align: left;
}
.cont-list {
    list-style-type: none;
}
.cont-item {
    padding: 25px 0 0 25px;
    line-height: 25px;
}
.cont-item span {
    padding-left: 50px;
}
#telegram {
    padding-left: 25px;
}
#about-me {
    margin-left: 10px;
    height: 250px;
    padding: 25px;
    text-align: left;
}
#about-me p {
    padding-top: 15px;
    line-height: 25px;
    text-align: justify;
}
#skills {
    margin-left: 10px;
    height: 250px;
    padding: 25px;
    text-align: left;
}
.skills-item {
    padding-top: 15px;
    line-height: 25px;
    margin-left: 20px;
}
#code-example {
    margin-left: 10px;
    height: 250px;
    padding: 25px;
    text-align: left;
    padding-bottom: 300px;
}
#code-example h2 {
    margin-bottom: 15px;
}
.code {
    padding: 25px;
    margin: 25px;
    width: 500px;
    background: rgb(143, 136, 136);
}
.code-block {
    width: 700px;
    padding-top: 0px;
    background: rgb(255, 255, 255);
}
#code {
    font-size: large;
    font-weight: bold;
}
#courses {
    margin-left: 10px;
    height: 250px;
    padding: 25px;
    text-align: left;
}
.courses-list {
    margin-left: 18px;
    margin-top: 15px;
}
#courses a {
    font-size: 20px;
    text-decoration: none;
    color: black;
    line-height: 40px;
}
#courses a:hover {
    color: red;
    transition: color 0.5s;
}
#languages {
    margin-left: 10px;
    height: 250px;
    padding: 25px;
    text-align: left;
}
.languages-list {
    font-size: 20px;
    line-height: 35px;
    margin-left: 18px;
    margin-top: 15px;
}
.footer {
    margin-top: 25px;
    display: flex;
    height: 102px;
    border-radius: 16px 16px 0 0;
    background: rgb(242, 244, 245);
    border: solid 1px black;
}
.footer {
    display: flex;
    justify-content: space-around;
    
}
.footer p {
    font-size: large;
    font-weight: bold;
    margin-top: 40px;
}
.github {
    margin-top: 25px;
}
hr {
	margin: 20px 30px 20px 30px;
	padding: 0;
	height: 6px;
	border: none;
	background: linear-gradient(45deg, #333, #ddd);
}
.hr-fix {
    margin-top: -50px;
}